<!DOCTYPE html>
<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/css/mdb.min.css" rel="stylesheet">
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/js/mdb.min.js"></script>
    <title>Save the manatees</title>
</head>

<body>
    <main class="mt-5">
        <div class="container">
            <section class="text-center">
                <h2 class="mb-5 font-weight-bold">Save the manatees</h2>
            </section>


            <form action="/find" method="post">
                <div class="md-form mt-0">
                    <input name="search" class="form-control" type="text" placeholder="Find me all the words that has letters..."
                        aria-label="Search">
                </div>
            </form>


            <table class="table">
                <thead class="blue lighten-3">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Word</th>
                        <th scope="col">Score</th>
                        <th scope="col">Definition</th>
                    </tr>
                </thead>
                <tbody>
                    {% for word, score in result %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ word }}</td>
                        <td>{{ score }}</td>
                        <td><a href="https://www.yourdictionary.com/{{ word }}">Link to {{ word }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>
